<%= turbo_frame_tag(dom_id(@post, :comments)) do %>

<p style="color: green"><%= notice %></p>

<div id="comments">
  <% if @comments.blank? %>
    <p>Empty State</p>
<% end %>
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", comment %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>

<% end %>
